body {
    background-color: #66FCF1;

}

h1{
    color: white;
    background-color: navy; /* thhis one na background colour */
    text-align: center;
    font-size: 5em;
}
p {
    color: red;
}
h2 {
    
}
marquee {
    font-size: 2em;
}